.fac-container {
  background: #121634;
  /* padding-left: 20px; */
  position: relative;
  padding-bottom: 1rem !important;
  overflow: hidden;
}

.fac-banner-img-container {
  padding-right: 4rem;
}

.font-weight-bolder {
  font-weight: 900;
}

@media only screen and (max-width: 991px) {
  .fac-banner-img-container {
    padding-right: 0px;
  }
}
@media only screen and (max-width: 372px) {
  .setfont {
    font-size: 24px;
  }
}
@media only screen and (max-width: 460px) {
  .buttonstyle {
    margin-top: 10px;
    width: 100%;
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 460px) {
  .buttonstyle {
    margin-top: 10px;
    width: 50%;
    font-size: 1.2rem;
  }
}

.selected-image-mark {
  background: transparent linear-gradient(117deg, #37c4ce 0%, #57f0d8 100%) 0%
    0% no-repeat padding-box;
  height: 3px;
  width: 100%;
  margin-top: 10px;
}

.mr-4 {
  margin-right: 2rem !important;
}

.gallery-thumbnail {
  width: 120px;
  height: 100px;
  object-fit: cover;
}
.gallery-big-image {
  height: 500px;
  max-width: 100%;
}

.text-cyan {
  color: #30bacc;
}
.text-red {
  color: #b73b57;
}

.max-val-box {
  padding: 1rem;
  min-height: 200px;
  border: 2px solid #fff;
  color: #ffffff;
}

.extra-small {
  font-size: x-small;
}
