.fac-container {
  background: #121634;
  /* padding-left: 20px; */
  position: relative;
  padding-bottom: 1rem !important;
  overflow: hidden;
}

.fac-banner-img-container {
  padding-right: 4rem;
}

.font-weight-bolder {
  font-weight: 900;
}

@media only screen and (max-width: 991px) {
  .fac-banner-img-container {
    padding-right: 0px;
  }
}

.selected-image-mark {
  background: transparent linear-gradient(117deg, #37c4ce 0%, #57f0d8 100%) 0%
    0% no-repeat padding-box;
  height: 3px;
  width: 100%;
  margin-top: 10px;
}

.mr-4 {
  margin-right: 2rem !important;
}

.gallery-small-wrapper {
  width: 120px;
  height: 100px;
  object-fit: cover;
}
.gallery-big-wrapper {
  width: 100%;
  height: 400px;
}

.text-cyan {
  color: #30bacc;
}
.text-red {
  color: #b73b57;
}

.max-val-box {
  padding: 1rem;
  min-height: 200px;
  border: 2px solid #fff;
  color: #ffffff;
}

.extra-small {
  font-size: x-small;
}
