.upper-footer {
  background: transparent linear-gradient(117deg, #37c4ce 0%, #57f0d8 100%) 0%
    0% no-repeat padding-box;
}
.upper-footer-button {
  white-space: nowrap;
  font-size: 18px;
  background-color: #ffffff;
  border: 2px solid white;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #57f0d8;
}

.upper-footer-button:hover {
  background: transparent;
  color: #ffffff;
}

#UpperFooteremailInput{
  border: 2px solid #ffffff;
  border-radius: 0px;
  font-weight: 600;
  color: #ffffff;
  background-color: transparent;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

#UpperFooteremailInput::placeholder {
  color: #ffffff;
  font-weight: 400;
}