.form {
  padding: 20px;
  width: 100vw;
  max-width: 500px;
}
.form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
}

.form p.error {
  color: red;
  margin: 0;
  margin-bottom: 10px;
  font-size: 10px;
  text-align: right;
}

.error-success-container,
.formkit-alert-error {
  text-align: center;
  padding-top: 25px;
  position: inherit !important;
}

.error-success-container p span,
.formkit-alert-success,
.formkit-alert-error {
  color: #fff !important;
  font-size: 1.2rem !important;
  font-weight: 900 !important;
  font-family: "Pti-Improv" !important;
}
