@font-face {
  font-family: "Pti-Improv";
  src: url("../fonts/pti-improv.otf");
}

@font-face {
  font-family: "Shapiro";
  src: url("../fonts/shapiro.otf");
}


@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins.ttf");
}