header .nav-link {
  color: whitesmoke;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  font-size: 14px;
  cursor: pointer;
}

header .navbar {
  padding-top: 0;
  padding-bottom: 0;
}

header .navbar div .navbar-brand img {
  width: 200px;
}

.gradient-link {
  background: transparent linear-gradient(117deg, #37c4ce 0%, #57f0d8 100%) 0%
    0% no-repeat padding-box;
  color: rgba(255, 255, 255, 1) !important;
  font-weight: bold;
}
header .nav-link:hover {
  letter-spacing: 0.36px;
  color: #37c4ce !important;
  text-transform: capitalize;
  font-size: 14px;
}

header {
  background-color: #2e314c;
}
