.nav-link {
  color: whitesmoke;
  letter-spacing: 1.4px;
  text-transform: capitalize;
  font-size: 12px;
}

footer {
  background-color: black;
}

footer.py-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

footer div div.row div a img {
  width: 200px;
}
