p {
  color: #121634;
}

h2 {
  font-weight: 900;
  color: #43475f;
}

.card-fac-container {
  background: #f4f5f6;
  overflow: hidden;
}

.ribbon-title {
  position: absolute;
  top: -20px;
  right: -10px;
  width: 80%;
}

.star-dotted {
  position: absolute;
  bottom: -5rem;
  right: 0px;
  width: 5rem;
}
